<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.hospital.mapper.PatientMapper">
	<insert id="patientJoin">
		INSERT INTO PATIENT VALUES
		(#{PATIENT_ID},#{PATIENT_PW},#{PATIENT_NAME},#{PATIENT_PHONE},
		#{PATIENT_BIRTH},#{PATIENT_ADDRESS1},#{PATIENT_ADDRESS2},
		#{PATIENT_ADDRESS3},#{PATIENT_GENDER},#{PATIENT_BLOOD})
	</insert>
  </mapper>